.stack__card {
  padding-top: 30px;
  box-sizing: border-box;
  width: 200px;
  height: 302px;
  background: #ffffff;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.stack__card div {
  width: 100%;
  text-align: center;
  height: 65px;
}

.stack__card img {
    height: 60px;
    width: 60px;
}

.stack__text {
  margin-top: 30px;
}

.number__of__students {
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 10px;
  /* identical to box height */
  color: #63a568;
  margin: 5px;
}
