.stack__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

@media screen and (max-width: 620px) {
  .stack__wrapper {
    height: fit-content;
  }
}

@media screen and (max-width: 1060px) {
  .stack__wrapper {
    height: 640px;
    overflow-y: scroll;
  }
}
